Health
{
	position: absolute;
	background-color: rgba( rgb(128, 128, 128), 0.1 );
	border-radius: 10px;
	left: 40px;
	bottom: 40px;
	font-family: hitroad;
	font-size: 70px;
	font-weight: bold;
	color: white;
	height: 70px;
	padding: 0 5px;
	align-items: center;
}